button{
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 2% 2%;
  outline: none;
}

.ans{
  color: #000000;
  text-decoration: none;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.round{
  color: #000000;
  border-radius: 8px;
}

.flee{
  position: absolute;
}
